@import "../../node_modules/rfs/scss";


body {
    @include font-size(1rem);

    line-height: 1.5;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(black, 0);
}
